@use "../globals/colors" as c;
.detailstats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.95rem 0rem;

  &__title {
    color: c.$grey;
  }

  &__rightsection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    &_icon {
      width: 16px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
