@use "../globals/colors" as c;
@use "../globals/breakpoints" as b;

.detailbar {
  min-height: 100%;
  border-bottom: solid rgba($color: c.$white, $alpha: 1) 1px;
  color: c.$white;
  margin-left: 0.2rem;

  @include b.breakpoint-up(medium) {
    padding: 1rem 0rem;
    margin: 0rem 0.5rem 0.1rem;
  }

  @include b.breakpoint-up(large) {
    min-height: auto;
    padding: 0rem 0rem 5rem;
    margin: 0rem 1.5rem 0rem 0.7rem;
    height: auto;
  }

  &__title {
    text-align: center;
    padding: 1rem 0rem 2.2rem;

    @include b.breakpoint-up(medium) {
      padding: 3.2rem 0rem;
    }

    @include b.breakpoint-up(large) {
      text-align: left;
      font-weight: 300;
      padding-top: 2.65rem;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    padding-bottom: 1rem;

    @include b.breakpoint-up(medium) {
      padding-top: 0.3rem;
    }

    @include b.breakpoint-up(large) {
      padding: 0rem;
      text-align: left;
    }
  }

  .inputsearchlocation {
    display: none;

    @include b.breakpoint-up(large) {
      display: block;
    }
  }

  &__detailstats {
    padding: 0.9rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.85rem;

    @include b.breakpoint-up(medium) {
      padding: 0.9rem 0.2rem 0rem 0.5rem;
      gap: 1.87rem;
    }

    @include b.breakpoint-up(large) {
      padding: 2rem 0.75rem 0rem 0rem;
      gap: 1.8rem;
    }

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &_title {
        color: c.$grey;

        @include b.breakpoint-up(large) {
          font-weight: 300;
        }
      }

      &__rightsection {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.95rem;

        @include b.breakpoint-up(medium) {
          gap: 1rem;
        }

        @include b.breakpoint-up(large) {
          gap: 1.2rem;
        }

        &_icon {
          width: 1.3rem;
          height: 1.3rem;

          @include b.breakpoint-up(medium) {
            width: 1.5625rem;
            height: 1.5625rem;
          }

          @include b.breakpoint-up(large) {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
      }
    }
  }
}
