@use "../globals/colors" as c;
@use "../globals//breakpoints" as b;

.extendeddayssection {
  padding: 2.5rem 0rem 0rem;
  color: c.$white;

  &_title {
    padding-bottom: 2rem;
  }

  &__rangewrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include b.breakpoint-up(medium) {
      max-width: 20rem;
      margin: 0 auto;
    }

    &_rangeoption {
      padding: 0.5rem 0.7rem;
      background: rgba($color: #000000, $alpha: 0.3);
      border-radius: 0.3rem;
      border: transparent solid 1px;
      cursor: pointer;

      &--selected {
        background: rgba($color: #000000, $alpha: 0.7);
        border-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &__rangeshow {
    padding: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3rem;

    &__infoitem {
      color: c.$grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: rgba($color: #000000, $alpha: 0.2);
      border-radius: 0.3rem;
      padding: 0.5rem 0.3rem;
      cursor: pointer;

      &--displayed {
        background: rgba($color: #000000, $alpha: 0.5);
      }

      &__leftwrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
      }

      &__rightwrapper {
        display: flex;
        gap: 0.5rem;

        &__itemcontainer {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          gap: 0.2rem;

          &_icon {
            width: 1rem;
            height: 1rem;
          }
        }

        &__temperaturecontainer {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-left: rgba(255, 255, 255, 0.1) 2px solid;
          padding-left: 0.5rem;
          gap: 0.2rem;

          &__item {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            &_icon {
              width: 1rem;
              height: 1rem;
            }
          }

          &--showmore {
            justify-content: center;
            min-width: 3.3rem;
            gap: 0.5rem;
          }
        }
      }

      &_icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      &__showmore {
        background: #000;
      }
    }
  }
}
