@use "../globals/colors" as c;
@use "../globals/breakpoints" as b;
@use "../globals/typography" as t;

.inputsearchlocation {
  position: relative;
  width: 100%;
  margin-left: auto;
  max-width: 7.125rem;
  margin-right: 0.3rem;

  @include b.breakpoint-up(medium) {
    max-width: 19.0625rem;
    margin-right: 0.1rem;
  }

  &__input {
    font-family: t.$basefont;
    color: c.$white;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px c.$white solid;
    font-size: clamp(0.75rem, 0.2rem + 2vw, 1rem);
    font-weight: 300;

    @include b.breakpoint-up(medium) {
      font-size: clamp(1.125rem, 0.8rem + 2vw, 1.25rem);
    }

    @include b.breakpoint-up(large) {
      font-size: 1.25rem;
    }

    &::placeholder {
      color: c.$grey;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.1rem;
    position: absolute;
    left: 90%;
    bottom: 20%;

    @include b.breakpoint-up(medium) {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}
