@use "../globals/colors" as c;
@use "../globals/breakpoints" as b;

.mainbadge {
  margin-top: auto !important;
  color: c.$white;
  display: flex;
  align-items: center;
  gap: 1.1rem;

  @include b.breakpoint-up(large) {
    gap: 1.15rem;
  }

  &__degree {
    min-width: 5.375rem;
    min-height: 4.6875rem;

    @include b.breakpoint-up(medium) {
      min-width: 10.0625rem;
      min-height: 8.8125rem;
    }

    @include b.breakpoint-up(large) {
      min-width: 12rem;
      min-height: 10.5rem;
    }

    &_text {
      text-align: right;
      line-height: 1.1;
      letter-spacing: -0.4375rem;

      @include b.breakpoint-up(large) {
        line-height: 1.15;
        letter-spacing: -0.5rem;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 2px;

    @include b.breakpoint-up(medium) {
      gap: 1.1rem;
      margin-bottom: 0px;
    }

    @include b.breakpoint-up(large) {
      gap: 1.7rem;
    }

    &__textwrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include b.breakpoint-up(medium) {
        margin-bottom: 5px;
      }

      @include b.breakpoint-up(large) {
        margin-bottom: 0.3rem;
      }

      &_city {
        text-transform: capitalize;
        line-height: 0.9;
        text-align: left;

        @include b.breakpoint-up(medium) {
          line-height: 1.05;
        }

        @include b.breakpoint-up(large) {
          line-height: 1.25;
        }
      }

      &_datetime {
        text-align: left;
      }
    }

    &_icon {
      width: 2.5rem;
      height: 2.5rem;

      @include b.breakpoint-up(medium) {
        width: 3.4375rem;
        height: 3.4375rem;
        margin-top: 2px;
      }

      @include b.breakpoint-up(large) {
        width: 4.375rem;
        height: 4.375rem;
        margin-top: 1.1875rem;
      }
    }
  }

  .spinner {
    top: 20%;
    left: 25%;

    @include b.breakpoint-up(medium) {
      top: 30%;
      left: 25%;
    }

    @include b.breakpoint-up(large) {
      top: 78%;
      left: 25%;
    }
  }
}
