@use "../globals/colors" as c;
@use "../globals/breakpoints" as b;

.mainbadge {
  margin-top: auto !important;
  color: c.$white;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__textwrapper {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &_city {
      text-transform: capitalize;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;

    @include b.breakpoint(medium) {
      width: 3.4375rem;
      height: 3.4375rem;
    }
  }
}
