@use "../globals/colors" as c;
@use "../globals/breakpoints" as b;

.mainbadge {
  margin-top: auto !important;
  color: c.$white;
  display: flex;
  align-items: center;
  gap: 1.1rem;

  &__degree {
    width: 5.375rem;
    height: 4.6875rem;

    @include b.breakpoint-up(medium) {
      width: 10.0625rem;
      height: 8.8125rem;
    }

    @include b.breakpoint-up(large) {
      width: 12rem;
      height: 10.5rem;
    }

    &_text {
      text-align: right;
      line-height: 1.1;
      letter-spacing: -0.4375rem;

      @include b.breakpoint-up(large) {
        line-height: 1.15;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 2px;

    @include b.breakpoint-up(large) {
      align-items: end;
      gap: 1.6rem;
    }

    &__textwrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @include b.breakpoint-up(large) {
        margin-bottom: 0.05rem;
      }

      &_city {
        text-transform: capitalize;
        line-height: 0.9;
      }
    }

    &_icon {
      width: 2.5rem;
      height: 2.5rem;

      @include b.breakpoint-up(medium) {
        width: 3.4375rem;
        height: 3.4375rem;
      }

      @include b.breakpoint-up(large) {
        width: 4.375rem;
        height: 4.375rem;
      }
    }
  }

  .spinner {
    top: 20%;
    left: 25%;

    @include b.breakpoint-up(medium) {
      top: 30%;
      left: 25%;
    }

    @include b.breakpoint-up(large) {
      top: 78%;
      left: 25%;
    }
  }
}
