@use "../globals/breakpoints" as b;
@use "../globals/colors" as c;

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  @include b.breakpoint-up(large) {
    grid-template-columns: auto 1fr;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 32.5vh;
    padding: 1rem 1.3rem 1.4rem 0.9rem;

    @include b.breakpoint-up(medium) {
      height: 42.5vh;
      padding: 1.9rem 2.4rem 2rem 2rem;
    }

    @include b.breakpoint-up(large) {
      height: 100vh;
      padding: 5rem 0rem 5rem 7.3rem;
    }
  }

  &__sidebar {
    padding: 2.6rem 2.6rem 2.55rem;
    border-top: rgba(c.$white, 0.1) 5px solid;
    height: 100%;
    backdrop-filter: blur(10px);
    overflow-y: scroll;

    @include b.breakpoint-up(medium) {
      padding: 2.5rem 12rem;
    }

    @include b.breakpoint-up(large) {
      padding: 3rem 6rem 1.5rem 1.5rem;
      border-top: 0;
      border-left: rgba(c.$white, 0.1) 5px solid;

      margin-top: 0;

      position: fixed;
      width: 37vw;
      overflow-y: scroll;
      top: 0;
      right: 0;
    }
  }

  .inputsearchlocation {
    @include b.breakpoint-up(large) {
      display: none;
    }
  }
}
