@use "../globals/breakpoints" as b;

$basefont: "Roboto", sans-serif;

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-weight: 400;
  letter-spacing: -4px;
  line-height: 1.2;

  // 143, 120, 64
  font-size: clamp(4rem, 17vw, 7.5rem);

  @include b.breakpoint-up(medium) {
    font-size: clamp(7.5rem, 5rem + 5vw, 8.9375rem);
  }

  @include b.breakpoint-up(large) {
    font-size: 8.9375rem;
  }
}

h2 {
  font-weight: 300;

  font-size: clamp(1.875rem, 8vw, 3rem);

  @include b.breakpoint-up(medium) {
    font-size: clamp(3rem, 2rem + 2vw, 3.75rem);
  }

  @include b.breakpoint-up(large) {
    font-size: 3.75rem;
  }
}

h3 {
  font-size: 2vw;
  font-weight: 300;

  //  18, 14
  font-size: clamp(0.875rem, 0.3rem + 2vw, 1.125rem);

  @include b.breakpoint-up(medium) {
    font-size: 1.125rem;
  }
}

h4 {
  font-size: 0.625rem;
  font-weight: 300;

  @include b.breakpoint-up(medium) {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.125rem);
  }

  @include b.breakpoint-up(large) {
    font-size: 1.125rem;
  }
}

p {
  font-size: 0.875rem;
  @include b.breakpoint-up(medium) {
    font-size: 1.125rem;
  }
  margin: 0;
}
